<!doctype html>
<html>
  <head>
    <title>brainpower - Wiki with support for bi-directional nodes through Markdown links</title>
  </head>
  <body>
    <table id="posts">
      <thead>
        <tr>
          <th>Title</th>
          <th>Created at</th>
        </tr>
      </thead>
      <tbody>
        <% posts.forEach((post) => { %>
          <tr>
            <td><a href="/posts/<%- post.post_id %>"><%- post.title %></a></td>
            <td><%- post.created_at %></td>
          </tr>
        <% }) %>
      </tbody>
    </table>

    <label>title</label><br>
    <input type="text" id="title"><br>
    <label>content</label><br>
    <textarea id="content"></textarea><br>
    <button id="submit">submit</button>

    <script type="text/javascript">
      document.querySelector('#submit').addEventListener('click', async (event) => {
        const title = document.querySelector('#title').value
        const content = document.querySelector('#content').value
        const response = await fetch(`/api/posts`, {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify({
            title,
            content
          })
        })
        if (response.status !== 200) {
          throw new Error(`Invalid response status: ${response.status}`)
        }
        const responseBody = await response.json()
        window.location = `/posts/${responseBody.postId}`
      })
    </script>
  </body>
</html>
