<!doctype html>
<html>
  <head>
    <title>brainpower - Wiki with support for bi-directional nodes through Markdown links</title>
  </head>
  <body>
    <table id="posts">
      <thead>
        <tr>
          <th>Title</th>
          <th>Created at</th>
        </tr>
      </thead>
      <tbody>
        <% posts.forEach((post) => { %>
          <tr>
            <td><a href="/posts/<%- post.post_id %>"><%- post.title %></a></td>
            <td><%- post.created_at %></td>
          </tr>
        <% }) %>
      </tbody>
    </table>
  </body>
</html>
