<!doctype html>
<html>
  <head>
    <title>brainpower - Wiki with support for bi-directional nodes through Markdown links</title>
  </head>
  <body>
    <a href="/">posts</a> | <a href="/nodes">nodes</a><br>

    <h1>nodes</h1>

    <table id="nodes">
      <thead>
        <tr>
          <th>Name</th>
        </tr>
      </thead>
      <tbody>
        <% nodes.forEach((node) => { %>
          <tr>
            <td><a href="/nodes/<%- node.node_id %>"><%- node.name %></a></td>
          </tr>
        <% }) %>
      </tbody>
    </table>
  </body>
</html>
